<div class="page-header">
  <h3><i class='glyphicon glyphicon-briefcase'></i> <%= @project.name %></h3>
</div>

<p>
<%= link_to 'Edit', edit_admin_project_path(@project) %> 
</p>

<%= render partial: "show_project" %> 
<%= render partial: "show_version", locals: {this_data: @project } %> 

