<div class="header-blue">
  <h3><i class='glyphicon glyphicon-user'></i> Subject <%= @human %></h3>
</div>

<%= render partial: "show_basic" %> 
<%= render partial: "show_visit" %> 
<%= render partial: "show_sample" %> 
