<div class="header-blue">
  <h3><i class='glyphicon glyphicon-record'></i> Search Results</h3>
</div>

<p><%= @samples.count %> records found! &nbsp;&nbsp;| &nbsp;&nbsp;<%= link_to stock_human_samples_batch_search_results_path(format: "csv", :subjects => @value, :type => @key) do %><i class='glyphicon glyphicon-download-alt'></i> Download search results<% end %></p>

<%= render partial: "search_table", locals: {sample_list: @samples } %> 
