<div class="page-header">
  <h3><i class='glyphicon glyphicon-object-align-bottom'></i> Groups</h3>
  <p>Control access privileges</p>
</div>

<div class="table-responsive">
  <table class="table table-bordered table-striped table-condensed">
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>&nbsp;</th>
    </tr>

    <% @groups.each do |group| %>
      <tr>
        <td><%= group.name %></td>
        <td><%= group.note %></td>
        <td><%= link_to edit_admin_group_path(group.id) do %><span class='glyphicon glyphicon-pencil'></span><% end %></td>
      </tr>
    <% end %>
  </table>
</div>

<%= link_to 'Add new group', new_admin_group_path, :class => 'btn btn-primary' %>
