<div class="header-blue">
  <h3><i class='glyphicon glyphicon-duplicate'></i> Materials</h3>
</div>


<div class="table-responsive">
  <table class="table table-bordered table-striped table-condensed">
    <tr class='success'>
      <th>Title</th>
      <th>File</th>
      <th>Description</th>
    </tr>

    <% @materials.each do |material| %>
      <tr>
        <td><%= material.title %></td>
        <td><%= link_to material.file_identifier, material.file.url %></td>
        <td><%= material.note %></td>
      </tr>
    <% end %>
  </table>
</div>

