/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require will_paginate
 *= require box
 *= require jquery-tablesorter/theme.blue
 *= require_tree .
 *= require_self
 */
.dl-horizontal dt {
  text-align: left;
  margin-bottom: 0.5em;
  width: auto;
  padding-right: 1em;
}
.dl-horizontal dd {
  margin-left: 0;
  margin-bottom: 0.5em;
}
#scrollable {
  width: 100%;
  height: 400px;
  overflow: scroll;
}
.wd300 {
  width: 300px;
}
.w300h500 {
  width: 300px;
  height: 500px;
}
.wd60-pct {
  width: 60%;
}
.page-header {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 5px;
}
.header-blue {
  color: #fff;
  margin-top: 5px;
  padding-top: 1px;
  padding-left: 15px;
  padding-bottom: 5px;
  margin-bottom: 15px;
  background-color: #36486b
}
.header-green {
  color: #fff;
  margin-top: 5px;
  padding-top: 1px;
  padding-left: 15px;
  padding-bottom: 5px;
  margin-bottom: 15px;
  background-color: #003829
}
.header-grey {
  color: #fff;
  margin-top: 5px;
  padding-top: 1px;
  padding-left: 15px;
  padding-bottom: 5px;
  margin-bottom: 15px;
  background-color: #001a4d
}
.header-choc {
  color: #fff;
  margin-top: 5px;
  padding-top: 1px;
  padding-left: 15px;
  padding-bottom: 5px;
  margin-bottom: 15px;
  background-color: #70645c;
}

.greycell {
  background-color: #b2b2b2;
}
.greyheader {
  background-color: #3b3a30;
  color: #fff;
}
